{% extends 'base.html' %}

{% block title %}Movies{% endblock %}

{% block content %}
<h1>Welcome</h1>
<h2>Instructions-</h2>
<ul>
    <li><p>Click on <b>Movies </b>to browse the movies</p></li>
    <li><p>Click on <b>Add New Movie</b> to add movie manually</p></li>
    <li><p>Clcik on <b>API Fetch Movie</b> to add movie from Open Source database</p></li>
    <li><p>Click on <b>Actors</b> to get the list of all actors</p></li>
    <li><p>Click on <b>Directors</b> to get the list of all directors</p></li>
    <li><p>select the search field from dropdown first, </p></li>
</ul>
{% endblock %}